<h1> Welcome to Picritique: Submit Your Pics For Strangers to Rate </h1>

<div id="intro-div">
	<p id="site-description">
			Welcome to PiCritique, the photo sharing app that lets you rate
			pictures by category. Feeling courageous? Submit a photo of your own and see what the e-world thinks of you! Feeling shy? Well rate other users' photos anonymously. Can you score a perfect 50?</br>
			Create an account and find out!
	</p>
</div>

<%= link_to 'Index of Users', users_path %></br>
<%= link_to 'Login', "/login", :method=> :get %></br>
<%= link_to 'Create Account', new_user_path %></br>
<%= link_to 'Logout', logout_path %>