<div id="getting-started">
	<ul>
	</ul>
</div
</br>
</br>
<h1 id="welcomeheader"> Welcome to Picritique: </br>
	Submit Your Pics For Strangers to Rate </h1>
</br>
</br>
<div id="intro-div">
	<p class="site-description">

			 <h3>Feeling courageous?</h3>

			 <p class="site-description"> Submit a photo of your own and see what the e-world thinks of you! </p>

			  <h3>Feeling shy?</h3>

			  <p class="site-description">Rate other members'photos anonymously.</p>

			  <h3>Can you score a perfect 50?</h3>
			Create an account and find out!
	</p>
</div>

<%= link_to 'Index of Users', users_path %></br>
<%= link_to 'Login', "/login", :method=> :get %></br>
<%= link_to 'Create Account', new_user_path %></br>
<%= link_to 'Logout', logout_path %>