$('#submitted-rating').append($('<p>Latest Rating: <%= @rating.overall_rating %></p>'));
$('#rating_hotness').val("");
$('#rating_originality').val("");
$('#rating_setting').val("");
$('#rating_attitude').val("");
$('#rating_style').val("");

