<h1>Upload a New Album</h1>

<div class="main-div">
<%= render 'form' %>

<%= link_to 'Back to Albums index', albums_path %>
<%# link_to 'Edit An Album', edit_album_path(@album) %>
<%= link_to 'Home', root_path %>
<%= link_to 'Logout', logout_path %>
</div>