/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */



#photo-block {
	margin: 0 auto;
	float: center;
}

#intro-div {
	text-align: center;
	background-color: white;
	width: 50%;
	margin: 0 auto;
	height: 16em;
	border-style: solid;
	border-radius: 10%;
	border-color: black;
	border-width: 3px;
}

#welcomeheader {
	font-size: 32px;
}

.site-description {
	text-align: center;
	font-family: Calibri;
	font-size: 16px;
	color: black;
}

.index-container-div {
	position: center;
	margin-right: auto;
	margin-left: auto;
	width: 80em;
	height: 80em;
	text-align: center;
}

.individual-index-divs {
	/*float: left;*/
	padding: 15px;
}

/*#username {
	float: left;
}*/

body {
	/*background: url(http://geewall.com/mmc_uploads/5154-light-gray-gradient-1920-1200-wallpapers.jpg);*/
	background-color: white;
}

h1 {
	text-align: center;
}

h3 {
	color: black;
}

header {
	background: white;
	height: 15em;
	width: 100%;
	background-size: cover !important;
	border-style: solid;
	border-left: 0px;
	border-right: 0px;
}

.thumbnail {
	height: 7em;
	width: 7em;
	margin: 0 auto;
	
}

 .comment-input {
	height: 150px;
	width: 500px;
}

.root-menu-button {
	
}

#submit-comment {
	height: 30px;
	width: 60px;
	border-radius: 25%;
	text-align: center;	
}

.banner {
	color: black;
	font-size: 100px;
	font-family: Verdana;
	text-align: center;
	position: center;
}

.showcase {
	height: 25em;
	width: 25em;
	border: solid;
	border-color: black;
	position: center;
}

.index-photo {
	height: 10em;
	width: 10em;
	position: center;
	border: solid;
	border-color: black;
	/*float: left;*/
}

.main-div {
	text-align: center;
	background-size: cover !important;
}
