<!DOCTYPE html>
<html>
<head>
  <title>PiCritiqueApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
	<h1 class="banner">PiCritique</h1>
</header>
<div class="main-div">
<nav>
	<ul>
	</ul>
</nav>

<%= yield %>
</div>
</body>
</html>
